<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Home 1	</title>
	<atom:link href="https://ninetheme.com/themes/antique/home-1/feed/" rel="self" type="application/rss+xml" />
	<link>https://ninetheme.com/themes/antique</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 06 Apr 2017 10:12:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
